name: API Tests

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
    
jobs:
  api-tests:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python 3.10
      uses: actions/setup-python@v3
      with:
        python-version: "3.10"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
    - name: Start MongoDB
      run: |
        docker compose -f mongo.yml up -d
    - name: Wait for MongoDB to be ready
      run: |
        sleep 5
    - name: Start Flask API
      run: |
        flask --app app.api run &
        sleep 3
    - name: Run API tests
      run: |
        python3 -m pytest tests/api
    - name: Stop MongoDB
      if: always()
      run: |
        docker compose -f mongo.yml down